Netlogix:
  CkEditor:
    LinkClass:
      options:
        'primaryButton':
          label: 'Primary Button'
          class: 'btn btn-primary'
          position: '10'
        'secondaryButton':
          label: 'Secondary Button'
          class: 'btn btn-secondary'
          position: '20'
        'dangerButton':
          label: 'Danger Button'
          class: 'btn btn-danger'
          position: '15'
        'infoButton':
          label: 'Info Button'
          class: 'btn btn-info'
          position: '30'
